@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%, 1;
    --foreground: 0, 0%, 20%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 20%, 1;

    --popover: 0, 0%, 100%, 1;
    --popover-foreground: 0, 0%, 20%, 1;

    --primary: 25, 100%, 50%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 25, 100%, 50%, 1;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 25, 100%, 50%, 1;

    --destructive: 0, 100%, 40%;
    --destructive-foreground: 357, 91%, 55%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px];
  }
}
.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: white !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff6900 !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 86.5% !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding-right: calc(0 - var(--removed-body-scroll-bar-size)) !important;
}
/* react pdf */

.PD__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.PD__container__load {
  margin-top: 0em;
  color: black;
}

.PD__container__document {
  width: 100%;
  max-width: calc(100% - 2em);
  /* margin: 1em 0; */
}

.PD__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hjhgjhgj::after {
  content: "";
  display: block;
  border: 1em solid #dfdcde;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -1em;
  left: 0;
  border-bottom-color: #efefef;
  margin: -1em 0 0 2em;
}
.Example__container__document .react-pdf__Page {
  /* margin: 1em 0; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); */
}

.PD__container__document .react-pdf__message {
  padding: 20px;
  color: black;
}

.sc-gjLLEI.jqhNbM.sc-fZZVMt.feJiAg {
  z-index: 10 !important;
}
